<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team1.togather.mapper.FaqMapper">
	<!-- 해당 페이지 게시글 확인-->
	<select id="list" resultType="Faq">
		select * from FAQ order by FSEQ
	</select>
	<!-- 글쓰기 -->
	<insert id="insert" parameterType="Faq">
		insert into FAQ values(FAQ_SEQ.nextval, #{ftitle}, #{fcontent}, SYSDATE)
	</insert>
	<!-- 선택한 글 내용 가져오기 -->
	<select id="selectBySeq" resultType="Faq" parameterType="long">
		select * from FAQ where FSEQ=#{fseq}
	</select>
	<!-- 글 삭제 -->
	<delete id="delete" parameterType="long">
		delete from FAQ where FSEQ=#{fseq}
	</delete>
	<!-- 글 수정 -->
	<update id="update" parameterType="Faq">
		update FAQ set FTITLE=#{ftitle}, FCONTENT=#{fcontent} where FSEQ=#{fseq}
	</update>
</mapper>